@using cat_a_logB.Data
@inject cat_a_logB.Data.TaskManager TaskManager
<div>
    <form>
        <div class="form-group">
            <label for="newTaskName">New Task Name:</label>
            <input type="text" class="form-control" id="newTaskName" @bind="newTaskName" />
        </div>
        <br>
        <button type="button" class="btn btn-success" @onclick="UpdateTaskName">Update Task Name</button>
    </form>
</div>

@if (!string.IsNullOrWhiteSpace(TaskManager.errorMessage) || !string.IsNullOrWhiteSpace(TaskManager.errorMessage))
{
    <div class="alert alert-danger" role="alert">@TaskManager.errorMessage</div>
}

@code {
    [Parameter] public List<TaskData> project { get; set; }
    [Parameter] public ApexChart<TaskData> chart { get; set; }
    [Parameter] public SelectedData<TaskData> selectedData { get; set; }
    [Parameter] public EventCallback OnClose { get; set; }
    public string newTaskName = "";
    public string errorMessage = "";


    private async Task UpdateTaskName()
    {
        await TaskManager.EditTaskName(project, chart, selectedData, OnClose, newTaskName);
    }
}