@using cat_a_logB.Data
@inject cat_a_logB.Data.TaskManager TaskManager
<div>
    <br />
    <form class="row">
        <div class="form-group col-lg-8">
            <input type="text" class="form-control" id="newTaskName" placeholder="New Task Name" @bind="newTaskName" />
        </div>
        <div class="form-group col-lg-4">
            <button type="button" class="edit-button" @onclick="UpdateTaskName">Update</button>
        </div>
    </form>
    <br />
</div>

@if (!string.IsNullOrWhiteSpace(TaskManager.errorMessage) || !string.IsNullOrWhiteSpace(TaskManager.errorMessage))
{
    <div class="alert alert-danger" role="alert">@TaskManager.errorMessage</div>
}

@code {
    [Parameter] public List<TaskData> project { get; set; }
    [Parameter] public ApexChart<TaskData> chart { get; set; }
    [Parameter] public SelectedData<TaskData> selectedData { get; set; }
    [Parameter] public EventCallback OnClose { get; set; }
    public string newTaskName = "";
    public string errorMessage = "";


    private async Task UpdateTaskName()
    {
        await TaskManager.EditTaskName(project, chart, selectedData, OnClose, newTaskName);
    }
}