@using cat_a_logB.Data
@inject cat_a_logB.Data.TaskManager TaskManager
<div>
    <form>
        <div class="form-group">
            <label for="newTaskName">New Task Name:</label>
            <input type="text" class="form-control" id="newTaskName" @bind="newTaskName" />
        </div>
        <br>
        <button type="button" class="btn btn-success" @onclick="UpdateTaskName">Update Task Name</button>
    </form>
</div>

@code {
    [Parameter] public List<TaskData> project { get; set; }
    [Parameter] public ApexChart<TaskData> chart { get; set; }
    [Parameter] public SelectedData<TaskData> selectedData { get; set; }
    [Parameter] public EventCallback OnClose { get; set; }

    private string newTaskName = "";

    private async Task UpdateTaskName()
    {
        if (!string.IsNullOrWhiteSpace(newTaskName))
        {
            if (!project.Any(task => task.Name == newTaskName))
            {
                await TaskManager.EditTaskName(project, chart, selectedData, OnClose, newTaskName);
            }
            else
            {
                // Handle case where the name is already in use
            }
        }

        else
        {
            // handle case where name is whiteSpace
        }
    }
}