@using ApexCharts;
@using cat_a_logB.Data
@inject cat_a_logB.Pages.SampleData SampleData
@inject cat_a_logB.Data.TaskManager TaskManager
<form>
    <div class="form-group">
        <label for="newTaskStartTime">Start Date:</label>
        <input type="date" class="form-control" id="newTaskStartTime" @bind="newTaskStartTime" />
    </div>
    <div class="form-group">
        <label for="newTaskEndTime">End Date:</label>
        <input type="date" class="form-control" id="newTaskEndTime" @bind="newTaskEndTime" />
    </div>
    <br>
    <button type="button" class="btn btn-success" @onclick="UpdateTaskTime">Update Task Time</button>
</form>

@code {

    [Parameter] public SelectedData<GanttData> selectedData { get; set; }
    [Parameter] public List<GanttData> project { get; set; }
    [Parameter] public ApexChart<GanttData> chart { get; set; }
    [Parameter] public EventCallback OnClose { get; set; }
    private DateTime newTaskStartTime = DateTime.Today;
    private DateTime newTaskEndTime = DateTime.Today.AddDays(1);



    private async Task UpdateTaskTime()
    {
        if (newTaskStartTime < newTaskEndTime) // Add a check to ensure the start date is before the end date
        {
            await TaskManager.EditTaskTime(project, chart, selectedData, OnClose, newTaskStartTime, newTaskEndTime);
        }
        else
        {
            // Handle case where the start date is not before the end date
            // You may want to display a message or take appropriate action
        }
    }
}