@using ApexCharts;
@using cat_a_logB.Data;
@inject cat_a_logB.Pages.SampleData SampleData
@inject cat_a_logB.Data.TaskManager TaskManager
<div>
    <br />
    <form class="row">
        <div class="form-group col-md-8">
            Start Date:
            <input type="date" class="form-control" id="newTaskStartTime" placeholder="New Start Date" @bind="newTaskStartTime" />
            End Date:
            <input type="date" class="form-control" id="newTaskEndTime" placeholder="New End Date" @bind="newTaskEndTime" />
            <br />
            <button type="button" class="edit-button" @onclick="UpdateTaskTime">Update Task Time</button>
        </div>
    </form>
    <br />
</div>

@if (TaskManager.newTaskStartTime >= TaskManager.newTaskEndTime && TaskManager.errorMessage != null)
{
    <div class="alert alert-danger" role="alert">@TaskManager.errorMessage</div>
}


@code {

    [Parameter] public SelectedData<TaskData> selectedData { get; set; }
    [Parameter] public List<TaskData> project { get; set; }
    [Parameter] public ApexChart<TaskData> chart { get; set; }
    [Parameter] public EventCallback OnClose { get; set; }
    private DateTime newTaskStartTime = DateTime.Today;
    private DateTime newTaskEndTime = DateTime.Today.AddDays(1);
    public string errorMessage = "";

    private async Task UpdateTaskTime()
    {
        await TaskManager.EditTaskTime(project, chart, selectedData, OnClose, newTaskStartTime, newTaskEndTime);

    }
}