@page "/";
@using cat_a_logB; 
@using ApexCharts; 

<PageTitle>Index</PageTitle>

<DemoContainer>
    @if (projects == null)
    {
        <div class="text-center text-muted" style="min-height: 300px">
            <h3>Loading chart<span class="animated-dots"></span></h3>
        </div>
    }
    else
    {
        <ApexChart TItem="GanttData" Title="Projects" Options="options" XAxisType="XAxisType.Datetime">
            <ApexRangeSeries TItem="GanttData" Items="projects" XValue="@(e => e.Name)"
                             YMinValue="@(e => e.StartDate.ToUnixTimeMilliseconds())"
                             YMaxValue="@(e => e.EndDate.ToUnixTimeMilliseconds())" />
        </ApexChart>
    }
</DemoContainer>

<form>
    <label for="taskName">Task Name:</label>
    <input type="text" id="taskName" @bind="newTask.Name" />

    <label for="startDate">Start Date:</label>
    <input type="date" id="startDate" @bind="newTask.StartDate" />

    <label for="endDate">End Date:</label>
    <input type="date" id="endDate" @bind="newTask.EndDate" />

    <button type="button" @onclick="AddTask">Add Task</button>
</form>

@code {
    private GanttData newTask = new GanttData();
    private List<GanttData> tasks = new List<GanttData>();

    private void AddTask()
    {
       
        var newProject = new GanttData
            {
                Name = newTask.Name,
                StartDate = newTask.StartDate,
                EndDate = newTask.EndDate
            };

     
        projects.Add(newProject);

       
        newTask = new GanttData();

   
        StateHasChanged();
    }

    private List<GanttData> projects;
    private ApexChartOptions<GanttData> options;

    protected override async Task OnInitializedAsync()
    {
        options = new ApexChartOptions<GanttData>
            {
                PlotOptions = new PlotOptions
                {
                    Bar = new PlotOptionsBar
                    {
                        Horizontal = true
                    }
                },
                Tooltip = new ApexCharts.Tooltip
                {
                    X = new TooltipX
                    {
                        Format = "dd MMM yyyy HH:mm"
                    }
                }
            };
        projects = SampleData.GetProjects();
    }

    
}